body {
    margin:0; padding:0;
}

html, body, #bg {
    height:100%;
    width:100%;
}

#bg {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    overflow:hidden;
    z-index:0;
}

#bg img {
    width:100%;
    min-width:100%;
    min-height:100%;
    display: block;
}

#content {
    z-index:1;
}

div.inner-cover.ng-scope {
    padding: 20% 0 0 0;
}

div.well.bs-component {
    background-color: #333;
    border: 1px solid #000;
}

legend {
    color: #FFF;
    border-bottom: 1px solid #000;
}

.popover{
    background-color: #202020;
    color: #888888;
}

.popover.right > .arrow:after {
    border-right-color: #202020;
}

.popover.left > .arrow:after {
    border-left-color: #202020;
}

