
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootswatch: Cyborg</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" media="screen">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")" media="screen">
        <link rel="stylesheet" href="../assets/css/bootswatch.min.css">

    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">Bootswatch</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="themes">
                                <li><a href="../default/">Default</a></li>
                                <li class="divider"></li>
                                <li><a href="../amelia/">Amelia</a></li>
                                <li><a href="../cerulean/">Cerulean</a></li>
                                <li><a href="../cosmo/">Cosmo</a></li>
                                <li><a href="../cyborg/">Cyborg</a></li>
                                <li><a href="../darkly/">Darkly</a></li>
                                <li><a href="../flatly/">Flatly</a></li>
                                <li><a href="../journal/">Journal</a></li>
                                <li><a href="../lumen/">Lumen</a></li>
                                <li><a href="../readable/">Readable</a></li>
                                <li><a href="../simplex/">Simplex</a></li>
                                <li><a href="../slate/">Slate</a></li>
                                <li><a href="../spacelab/">Spacelab</a></li>
                                <li><a href="../superhero/">Superhero</a></li>
                                <li><a href="../united/">United</a></li>
                                <li><a href="../yeti/">Yeti</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../help/">Help</a>
                        </li>
                        <li>
                            <a href="http://news.bootswatch.com">Blog</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                                <li class="divider"></li>
                                <li><a href="./variables.less">variables.less</a></li>
                                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                        <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="container">

            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Cyborg</h1>
                        <p class="lead">Jet black and electric blue</p>
                    </div>
                    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                        <div class="well sponsor">
                            <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'treehouse']);" rel="nofollow" target="_blank">
                                <span style="float: left; margin-right: 15px;">
                                    <img src="http://srv.buysellads.com/direct/image/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'treehouse']);" width="175" height="135">
                                </span>
                            </a>
                            <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'treehouse']);" rel="nofollow" target="_blank">
                                <h4 style="margin-bottom: 0.4em;">Treehouse</h4>
                                <div class="clearfix">
                                    <p>Learn Web Design, Coding, Mobile App Development &amp; More.</p>
                                    <p>Start Learning for Free!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Containers
      ================================================== -->
            <div class="bs-docs-section">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="container">Containers</h1>
                        </div>
                        <div class="bs-component">
                            <div class="jumbotron">
                                <h1>Jumbotron</h1>
                                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <h2>List groups</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">14</span>
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">2</span>
                                    Dapibus ac facilisis in
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">1</span>
                                    Morbi leo risus
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                  Cras justo odio
                                </a>
                                <a href="#" class="list-group-item">Dapibus ac facilisis in
                                </a>
                                <a href="#" class="list-group-item">Morbi leo risus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">List group item heading</h4>
                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">List group item heading</h4>
                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <h2>Panels</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-default">
                                <div class="panel-body">
                  Basic panel
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Panel heading</div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                  Panel content
                                </div>
                                <div class="panel-footer">Panel footer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel primary</h3>
                                </div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel success</h3>
                                </div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>

                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel warning</h3>
                                </div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel danger</h3>
                                </div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel info</h3>
                                </div>
                                <div class="panel-body">
                  Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Wells</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="well">
                Look, I'm in a well!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="well well-sm">
                Look, I'm in a small well!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="well well-lg">
                Look, I'm in a large well!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="row">
                    <div class="col-lg-12">

                        <!--ul class="list-unstyled">
                            <li class="pull-right"><a href="#top">Back to top</a></li>
                            <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                            <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                            <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
                            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                            <li><a href="../help/#api">API</a></li>
                            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a></li>
                        </ul-->
                        <p>Made by <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@@bootswatch.com">thomas@@bootswatch.com</a>.</p>
                        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
                        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

                    </div>
                </div>

            </footer>


        </div>


        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../assets/js/bootswatch.js"></script>
    </body>
</html>
